@using PrimerMVC.Models.ViewModels
@model AnimalesViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <!-- Este a no puede ser un boton, ya que para que el boton funcione, aqui siempre tiene que ir en un FORM-->
    <a asp-action="AddAnimal" asp-controller="Animal" class="btn btn-primary">Añadir Animal</a>
    <ul>
    @foreach(var animal in Model.Animales)
    {
        <li> <span class="animal-id">Id: @animal.IdAnimal</span>@animal.NombreAnimal</li> <!-- Este viene de el ModelView-->
        <form asp-action="AnimalDetail" asp-controller="Home" method="post" style="display:inline;">
            <input type="hidden" name="id" value="@animal.IdAnimal"/> <!--Esto es un input que realmente no es visible, guarda el id de ese animal-->
            <button type="submit">Ver detalles</button>
        </form>
    }
    </ul>
</div>
