@using PrimerMVC.Models.ViewModels
@model AddAnimalViewModel

<h1>Añadir un Animal</h1>

<form asp-action="AddAnimalBBDD" asp-controller="Animal" method="post" style="display: flex; flex-direction: column;">
    <label>Nombre</label>
    <input type="text" name="nombreAnimal" value="" />

    <label>Raza</label>
    <input type="text" name="raza" value="" />
    
    <label>Fecha de Nacimiento</label>
    <input type="date" name="fechaNacimiento" value="
" />
    
    <label>Tipo Animal</label>
    <select name="idTipoAnimal">
        <option disabled> Selecciona el tipo de animal</option>
        @foreach (var tipo in Model.TipoAnimales)
        {
            <option value="@tipo.IdTipoAnimal">@tipo.TipoDescripcion </option>
        }
    </select>


    <button type="submit" style="margin-top: 10px;">Agregar</button>
</form>